[Unit]
Description={{ app_name }}
After=network-online.target

[Service]
WorkingDirectory=/yl/app/{{ app_name }}/
ExecStart=/usr/bin/sh -c '/usr/local/java/bin/java  -Xms512m -Xmx512m -Dfile.encoding=UTF-8  -jar /yl/app/{{ app_name }}/current/{{ app_jar_name }} --spring.profiles.active={{ app_env }} --nacos.server-address={{ app_nacos }} --nacos.namespace={{ app_env }}'
StandardOutput=journal
StandardError=inherit
LimitNOFILE=65536
TimeoutStopSec=0
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0
Restart=always
User=kkom
Group=kkom

[Install]
WantedBy=multi-user.target
